body{
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
    
}
h1{
    font-size: 45px;
}
.orange-color{
    color: orange;
    
}
section{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.Link-button{
    text-decoration: none;
    background-image: linear-gradient(gold ,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}

.new-shadowing{
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.down-pic{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-exp{
    border-image-slice: 1;
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato) 30;}
#web-dev{
    border-image-slice: 1;
    border-left: 7px solid;
    border-image: linear-gradient(blue, #4d9f0c) 30;
}